@media screen and (max-width: 480px) {
  .heading {
    text-align: center;
    margin: 0px;
  }
}
body {
  overflow-x: hidden;
}
.expenseContainer {
  padding: 10px;

  height: 400px;
}

.transactionContainer {
  height: 100vh !important;
  overflow-y: scroll;
}
